/* HEADER */
header {
    background-color: #2C3E50;
}

header .navbar-collapse {
    flex-grow: 0;
}

header .navbar-toggler-icon {
    filter: invert;
}

/* MAIN */

/* JUMBOTRON */
#jumbotron {
    background-color: #1ABC9C;

    border: 2px dashed orange;
}

/* SECTION PORTFOLIO */

#portfolio img {
    border-radius: 10px;
}

/* SECTION ABOUT */
#about {
    height: 500px;
    background-color: #1ABC9C;
}

/* SECTION CONTACT ME */
#contact-me {
    height: 500px;
    background-color: lightcoral;
}